{% extends 'base.html' %}

{% block title %}Menu - TerraFlora{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-3">
        <h3 style="color: var(--terraflora-green);">Bem-vindo ao TerraFlora</h3>
        <div class="list-group">
            <a href="{% url 'crop_planning' %}" class="list-group-item list-group-item-action" style="background-color: var(--terraflora-sand); color: var(--terraflora-green);">Planejamento de Culturas</a>
            <a href="{% url 'inventory_management' %}" class="list-group-item list-group-item-action" style="background-color: var(--terraflora-sand); color: var(--terraflora-green);">Gerenciamento de Estoque</a>
            <a href="{% url 'reports' %}" class="list-group-item list-group-item-action" style="background-color: var(--terraflora-sand); color: var(--terraflora-green);">Relatórios</a>
        </div>
    </div>
    <div class="col-md-9">
        <div class="d-flex justify-content-end">
            <div class="dropdown">
                {% if request.user.is_authenticated %}
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="userProfile" data-bs-toggle="dropdown" aria-expanded="false">
                        Perfil de {{ request.user.get_full_name }}
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="userProfile">
                        <li><a class="dropdown-item" href="{% url 'logout' %}">Sair</a></li>
                    </ul>
                {% else %}
                    <a href="{% url 'login' %}" class="btn btn-success">Login</a>
                {% endif %}
            </div>
        </div>
        <div class="mt-4">
            {% block inner_content %}
            <!-- Conteúdo adicional irá aqui -->
            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}
