<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro - TerraFlora</title>
    {% load static %} <!-- Carrega a tag estática do Django -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/terraflora.css' %}">
</head>
<body>

    <header class="bg-terraflora-green text-terraflora-sand py-3">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="{% url 'home' %}">
                    <img src="{% static 'images/TREVO_LOGO.png' %}" alt="Logo" width="50" height="50">
                    TerraFlora
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'register' %}">Registrar</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    <main class="py-5">
        <div class="container">
            <h2 style="color: var(--terraflora-green);">Registro</h2>

            {% if messages %}
                <div class="alert alert-info" role="alert">
                    {% for message in messages %}
                        {{ message }}<br>
                    {% endfor %}
                </div>
            {% endif %}

            <form method="POST" action="{% url 'register' %}">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="email" class="form-label" style="color: var(--terraflora-green);">Endereço de Email</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>
                <div class="mb-3">
                    <label for="username" class="form-label" style="color: var(--terraflora-green);">Nome de Usuário</label>
                    <input type="text" class="form-control" id="username" name="username" required>
                </div>
                <div class="mb-3">
                    <label for="full_Name" class="form-label" style="color: var(--terraflora-green);">Nome Completo</label>
                    <input type="text" class="form-control" id="full_Name" name="full_Name" required>
                </div>
                <div class="mb-3">
                    <label for="cpf" class="form-label" style="color: var(--terraflora-green);">CPF</label>
                    <input type="text" class="form-control" id="cpf" name="cpf">
                </div>
                <div class="mb-3">
                    <label for="phone_number" class="form-label" style="color: var(--terraflora-green);">Número de Telefone</label>
                    <input type="text" class="form-control" id="phone_number" name="phone_number" 
                           placeholder="+5581912345678" maxlength="15" 
                           title="Insira no formato internacional, com no máximo 15 caracteres.">
                </div>                
                <div class="mb-3">
                    <label for="street" class="form-label" style="color: var(--terraflora-green);">Rua</label>
                    <input type="text" class="form-control" id="street" name="street">
                </div>
                <div class="mb-3">
                    <label for="home_number" class="form-label" style="color: var(--terraflora-green);">Número da Casa</label>
                    <input type="text" class="form-control" id="home_number" name="home_number">
                </div>
                <div class="mb-3">
                    <label for="city" class="form-label" style="color: var(--terraflora-green);">Cidade</label>
                    <input type="text" class="form-control" id="city" name="city">
                </div>
                <div class="mb-3">
                    <label for="state" class="form-label" style="color: var(--terraflora-green);">Estado</label>
                    <input type="text" class="form-control" id="state" name="state">
                </div>
                <div class="mb-3">
                    <label for="country" class="form-label" style="color: var(--terraflora-green);">País</label>
                    <input type="text" class="form-control" id="country" name="country">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label" style="color: var(--terraflora-green);">Senha</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>
                <div class="mb-3">
                    <label for="confirm_password" class="form-label" style="color: var(--terraflora-green);">Confirmar Senha</label>
                    <input type="password" class="form-control" id="confirm_password" name="confirm_password" required>
                </div>
                <button type="submit" class="btn btn-success">Registrar</button>
            </form>
        </div>
    </main>

    <footer class="bg-terraflora-green text-terraflora-sand text-center py-3">
        <div class="container">
            <p>&copy; 2024 TerraFlora</p>
            <a href="{% url 'home' %}" class="home-button text-terraflora-sand">
                <i class="fas fa-home"></i> Home
            </a>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
